@model IEnumerable<Website_14042017.ModelViews.NewsView>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Template.cshtml";
}
@section HeaderCSS{
    <link href="~/Content/syleNews.css" rel="stylesheet" />
}
<div id="lstNews">
    @*@{
        if (Model != null)
        {
            <ul>
                @foreach (var item in Model)
                {
                    //string _img = "";
                    <li>
                        <a href="/newsuser/NewsContent/@item.Id">*@
    @*@{
        try
        {
        int index = item.Content.IndexOf("<img"); while (!_img.Contains("jpg") && !_img.Contains("gif") && !_img.Contains("png") && !_img.Contains("jpeg"))
                                                  {
                                                  _img +=item.Content[index].ToString();
                                                  if (_img.Contains("jpg") || _img.Contains("gif") || _img.Contains("png") || _img.Contains("jpeg")) {
                                                  break;
                                                  }
                                                  index++;
                                                  };
                                                  _img +="\" />";
        }
        catch {
        }
        }
        @Html.Raw(_img)*@
    @*<h3>@item.Title</h3>
                                <p class="descrip">@item.Descrip</p>
                                <i class="time">Ngày đăng @item.DatePost bởi @item.Author</i>
                                <div class="clear"></div>
                            </a>
                        </li>
                    }
                </ul>
            }
        }*@
</div>
<hr />
<div class="row">
    <div class="col-lg-12" id="pageNext">
        <ul id="ulpagenext"></ul>
    </div>
</div>
@section ScriptUser{
    <script>
        var news = @Html.Raw(Json.Encode(Model));
        var count = @Html.Raw(Model.Count());
        var pageSize = 10;
        var index = 0;
        var total = Math.round(count/pageSize);
        var tp = count%pageSize;
        var totalP = 0;
        if(tp > 0 && total >=1)
            totalP = total + 1;
        else
            totalP = total;

        var content = "";
        $(document).ready(function(){
            var connext = "";
            if(totalP > 1){
                for(var i=1; i<=totalP; i++){
                    connext += "<li><a class='num' href='#"+i+"'>"+i+"</a></li>";
                }
                $("#ulpagenext").html(connext);
            }
            content = "<ul>";
            $(news).each(function(i,val){
                content += "<li><a href='/newsuser/NewsContent/"+val.Id+"'>"
                            +"<h3>"+val.Title+"</h3>"
                            +"<p class='descrip'>"+val.Descrip+"</p>"
                            +"<i class='time'>Ngày đăng "+val.DatePost+" bởi "+val.Author+"</i>"
                            +"<div class='clear'></div>"
                            +"</a></li>";
                if(i+1 == pageSize){
                    content += "</ul>";
                    $("#lstNews").html(content);
                    return false;
                }
            });
            content += "</ul>";
            $("#lstNews").html(content);

            $('.num').on('click', function(){
                var num = this.text;
                content = "<ul>";
                $(news).each(function(i, val){
                    if(i >= (num*pageSize)-1){
                        content += "<li><a href='/newsuser/NewsContent/"+val.Id+"'>"
                                 +"<h3>"+val.Title+"</h3>"
                                 +"<p class='descrip'>"+val.Descrip+"</p>"
                                 +"<i class='time'>Ngày đăng "+val.DatePost+" bởi "+val.Author+"</i>"
                                 +"<div class='clear'></div>"
                                 +"</a></li>";
                    }
                    if(i >= (num*pageSize-1)+(pageSize-1)){
                        content += "</ul>";
                        $("#lstNews").html(content);
                        return false;
                    }
                });
                content += "</ul>";
                $("#lstNews").html(content);
            })

        });
    </script>
}