@model Website_14042017.Models.News

@{
    ViewBag.Title = "NewsContent";
    Layout = "~/Views/Shared/_Template.cshtml";
}
@section HeaderCSS{
    <link href="~/Content/syleNews.css" rel="stylesheet" />
}
<div style="width:100%; height:auto;" id="newscontent">
    @{
        if (Model != null)
        {
            <div class="row">
                <div class="col-lg-offset-0 col-lg-12">Thời gian đăng: @Model.DatePost bởi @Model.Author</div>
            </div>
            <hr />
            <div>
                <div class="row">
                    <h2 class="col-lg-12 text-center"><strong>@Model.Title</strong></h2>
                </div>
                <div class="row">
                    <h3 class="col-lg-12 text-center">@Model.Descrip</h3><br />
                </div>
                @Html.Raw(Model.Content)
            </div>
        }
    }
</div>